<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <h2>Hii...<b>Good to see you here</b> I am <em>Gursimran</em></h2>
    <img src="/img/pic.webp" alt="logo" style: width="200px"; height="120px">
    <p>I am the full-Time student at Centennial College.<br>I am Enrolled in Software Engineering Program.<br>I am 3rd Semester Student.</p>
    <h3>Here is my resume:</h3>
    <a href="/img/resume.docx" target="_blank">Download my Resume</a>

    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>

<style>
      .container {
        margin-bottom: 100px; /* Adjust the value as needed */
      }
     </style>


   